<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Employee Manager App</a>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a (click)="onOpenModal(null, 'add')" class="nav-link">Add Employee <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #key="ngModel" (ngModelChange)="searchEmployees(key.value)" class="form-control mr-sm-2" name="key" ngModel
             placeholder="Search employees"
             type="search"/>
    </form>
  </div>
</nav>

<br>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img alt="" class="img-fluid rounded-circle w-60" src="{{employee?.imageUrl}}"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0"><h5>{{employee?.name}}</h5>
            <p class="m-0">{{employee?.position}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone: {{employee?.phoneNumber}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(employee,'edit')" class="btn btn-primary tooltips" data-original-title="Edit"
               data-placement="top" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
            <a (click)="onOpenModal(employee,'delete')" class="btn btn-secondary tooltips" data-original-title="Delete"
               data-placement="top" data-toggle="tooltip"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- Add Employee Modal -->
<div aria-hidden="true" aria-labelledby="addEmployeeModalLabel" class="modal fade" id="add" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" ngModel placeholder="Name" required type="text">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" id="email" name="email" ngModel placeholder="Email" required
                   type="email">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input class="form-control" id="position" name="position" ngModel placeholder="Position" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input class="form-control" id="phoneNumber" name="phoneNumber" ngModel placeholder="Phone" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input class="form-control" id="imageUrl" name="imageUrl" ngModel placeholder="Image URL" required
                   type="text">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" id="add-employee-form" type="button">Close</button>
            <button [disabled]="addForm.invalid" class="btn btn-primary" type="submit">Save
              changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div aria-hidden="true" aria-labelledby="employeeEditModalLabel" class="modal fade" id="edit" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.name}}</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input aria-describedby="emailHelp" class="form-control" name="name" ngModel="{{editEmployee?.name}}"
                   placeholder="Name" type="text">
          </div>
          <input class="form-control" id="id" name="id" ngModel="{{editEmployee?.id}}" placeholder="Email"
                 type="hidden">
          <input class="form-control" id="userCode" name="userCode" ngModel="{{editEmployee?.employeeCode}}"
                 placeholder="Email" type="hidden">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" name="email" ngModel="{{editEmployee?.email}}" placeholder="Email" type="email">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input class="form-control" id="position" name="position" ngModel="{{editEmployee?.position}}"
                   placeholder="Job title" type="text">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input class="form-control" name="phoneNumber" ngModel="{{editEmployee?.phoneNumber}}" placeholder="Phone"
                   type="text">
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input class="form-control" name="imageUrl" ngModel="{{editEmployee?.imageUrl}}" placeholder="Image URL"
                   type="text">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" id="" type="button">Close</button>
            <button (click)="onUpdateEmployee(editForm.value)" class="btn btn-primary" data-dismiss="modal">Save
              changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div aria-hidden="true" aria-labelledby="deleteModelLabel" class="modal fade" id="delete" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">No</button>
          <button (click)="onDeleteEmployee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
